{{ range .Paginator.Pages }}
<article class="post-list">
    <div class="title-group">
        <div class="title">
            <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        </div>
    </div class="title-group">


    {{ if eq .Type "photos" }}
        {{ if gt (len .Resources) 1 }}
            <div class="read-more">
                <a href="{{ .RelPermalink }}">See {{ len .Resources }} photos ›</a>
            </div>
        {{ end }}
    {{ else }}
        {{ if .Truncated }}
            <div class="read-more">
                <a href="{{ .RelPermalink }}">Read more ›</a>
            </div>
        {{ end }}
    {{ end }}

</article>
{{ end }}